@import "utilities/variables";

header {
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    position:sticky;
    top: 0%;
    padding: 1rem 0.5rem 1rem 1rem;
    z-index: 2;

    h1{
        text-align: center;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        font-weight: 3rem;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        border-style: solid;
        border-left: 0px;
        border-right: 0px;
        padding: 1.5rem;
    }
} 

/* PROPIEDADES DEL NAV*/

nav {
    margin: 1rem;
    ul {
        @include flex;
        li {
            list-style: none;
            padding: 0.5rem;
            border: black;
            border-style: double;
            border-radius: solid;   
              a {
                text-decoration: none;
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                font-weight: bolder ;
                font-size: 0.7rem;
                color: black;
                letter-spacing: 2px;
            }    
        }
       
    }
}
 
/*BOTONES¨*/

.volverInicio{
    @extend %botones;
    font-size: 0.7rem;
    padding: 1rem;
    bottom:2rem;
}
 
 
.botonTienda{
    @extend %botones;
    font-size: 0.5rem;
    padding: 15px;
    bottom:40px;
}


// mixin//

@mixin flex {
    display: flex;
    justify-content: space-evenly;
}

// extend //

%botones{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder ;
    color: black;
    letter-spacing: 2px;
    border: black;
    border-style: double;
    border-radius: 2px solid;
    position: relative;
    background-color: white;
    justify-content: center;
    padding: 1rem;
    left: 0px;
}